<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>User Profile</title>
</head>

<body>

    <header>
        <h1 style="font-size: 3vmax;">Your Profile</h1>
        <div class="btn">
            <a href="/editprofile" class="logout"> <button>edit profile</button></a>
            <a href="/logout" class="logout"> <button>logout</button></a>
        </div>


    </header>
    <a href="/newpost">
        <div class="newPost">
            <img src="/necessery/post.png" alt="">
        </div>
    </a>

    <section class="profile">
        <div class="profile-image">
            <img src="<%=user.profilePic%>" alt="Profile Image">
        </div>
        <div class="profile-info">
            <h2>
                @<%=user.username%>
            </h2>
            <p>
                <%=user.profession%>
            </p>
        </div>
    </section>

    <section class="posts">

        <h2 style="margin-left: 10px;">Recent Posts</h2>

        <% posts.forEach((elem)=> { %>
            <div class="card">
                <div class="actions">
                    <i class="material-icons edit-icon">edit</i>
                    <a href="/deletepost/<%=elem._id%>">
                        <i class="material-icons delete-icon">delete</i>
                    </a>
                </div>
                <div class="picture">
                    <img src="<%=elem.image%>" alt="">
                </div>
                <div class="caption">
                    <%= elem.caption %>
                </div>
            </div>
            <% }) %>

                <!-- Add more posts as needed -->





    </section>

    <style>
        .newPost {
            position: absolute;
            right: 20px;
            cursor: pointer;
            transition: all 0.6s;

        }

        .newPost:hover::before {
            content: "Create Post";
            position: absolute;
            top: 50px;
            text-align: center;
            right: 10px;
        }

        .newPost img {
            height: 50px;
            width: 60px;
        }


        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .logout button {
            background-color: blueviolet;
            padding: 8px;
            border: none;
            color: wheat;
            cursor: pointer;
        }


        header {
            display: flex;
            justify-content: space-between;
            color: black;
            align-items: center;
            text-align: center;
            padding: 1em;
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px;
        }

        .profile-image {
            border-radius: 50%;
            overflow: hidden;
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }

        .profile-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-info {
            text-align: center;
        }



        .card {
            position: relative;
            width: 300px;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s;
            cursor: pointer;
            margin: 1rem;
        }

        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .actions {
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px;
        }

        .actions i {
            margin-left: 8px;
            font-size: 20px;
            /* Adjust icon size as needed */
            color: #d4c2c2;
            cursor: pointer;
            transition: color 0.3s;
        }

        .actions i:hover {
            color: #007bff;
        }

        .picture {
            height: 200px;
            object-fit: cover;
            object-position: center;

        }

        .picture img {
            height: 100%;
            width: 100%;
        }

        .caption {
            padding: 16px;
            font-size: 14px;
            color: #333;
        }
    </style>

</body>

</html>